table {
  border-collapse: collapse;
}

table a {
    text-decoration: none;
    font-size: 18px;
}

tr {
    height: 70px;
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}


td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-weight: normal;
}
