body {
  background-color: blanchedalmond;
}

.nav-title {
  display: inline-block;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.navbar {
  font-size:40px;
  background-color: blueviolet;
  color: blanchedalmond;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}

.nav-user {
  position: absolute;
  right: 0px;
}

.home-panel {
  display: inline-block;
  width: 35%;
  margin: 30px;
}

table {
  border-collapse: collapse;
}

tr {
    height: 70px;
}

th {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
  font-weight: bold;
}


td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-weight: normal;
}
